.container {
    margin-top: 20px;
  }
  
  .profileCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .profileTitle {
    font-weight: bold;
  }
  
  .logoutButton {
    background-color: red;
  }
  
  .postSection {
    margin-top: 20px;
  }
  